@{
    ViewBag.Title = "Unique Page";
}
    <script src="~/Scripts/Process/Cube_Sum.js"></script>
<div class="col-md-12 panel panel-body panel-default text-center">
    <div class="col-md-8">
        <input type="number" placeholder="Ingrese su número de casos" id="txtNum_Cases" class="form-control" min="1" max="50" style="max-width:100%" />
    </div>
    <button class="btn btn-success col-md-4" id="btnSend_Cases">Enviar casos</button>
</div>
<br />
<div class="col-md-12 panel panel-default panel-body" id="contains_cases">
    <div class="col-md-8">
        <input type="text" placeholder="Ingrese el tamaño de su matriz 3d y el # de operaciones" id="txtCubeOperations" class="form-control" style="max-width:100%" />
    </div>
    <button class="btn btn-success col-md-4" id="btnCubeOperations">Enviar info</button>
</div>

<div class="col-md-12 panel panel-default panel-body" id="contains_cases">
    <div class="col-md-7 panel panel-body panel-default" id="SpaceOperations">
        <div class="col-md-8">
            <input type="text" placeholder="Ingrese su operación" id="txtOperation" class="form-control" style="max-width:100%" />
        </div>
        <button class="btn btn-success col-md-4" id="btnSendOperation">Enviar operacion</button>
        <br />
        <br />
        <div class="col-md-12 panel panel-body panel-default">
            <p id="Console_Operations"></p>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4 panel panel-body panel-default">
        <p id="Console_Cube"></p>
    </div>
</div>