@{
    ViewBag.Title = "Unique Page";
}
<script>
    var Casos_For_End = 0; 
    var Value_Operations = 0;

    $("#contains_cases").ready(function () {
        $("#contains_cases").hide();
         $("#btnSend_Cases").attr("disabled", false);
    });

    $(document).on("click", "#btnSend_Cases", function () {
        $.ajax({
            url: "/Home/getCases",
            type: "post",
            data: {
                Num_case: $("#txtNum_Cases").val()
            },
            dataType: "json",
            success: function (result) {
                if (result.IsSuccess) {
                    Casos_For_End = result.Result;
                    $("#contains_cases").show();
                    $("#btnSend_Cases").attr("disabled", true);
                } else {
                    alert(result.Message);
                }
            },
            error: function () {
                alert("Falla presentada al comunicarse con el controlador");
            }
        });

    });

    $(document).on("click", "#btnCubeOperations", function () {
        $.ajax({
            url: "/Home/Cube_Operations",
            type: "post",
            data: {
                CubeOp: $("#txtCubeOperations").val()
            },
            dataType: "json",
            success: function (result) {
                if (result.IsSuccess) {
                    if (Casos_For_End > 0) {

                    }
                } else {
                    alert(result.Message);
                }
            },
            error: function () {
                alert("Falla presentada al comunicarse con el controlador");
            }
        });

    });

</script>
<div class="col-md-12 jumbotron text-center">
    <input type="number" placeholder="Ingrese su número de casos" id="txtNum_Cases" class="col-md-8 form-control" min="1" max="50" />
    <button class="btn btn-success col-md-4" id="btnSend_Cases">Enviar casos</button>
</div>
<br />
<div class="col-md-6 panel panel-default panel-body" id="contains_cases">
    <div class="col-md-8">
        <input type="text" placeholder="Ingrese el tamaño de su matriz 3d y el # de operaciones" id="txtCubeOperations" class="col-md-12 form-control" />
    </div>
    <button class="btn btn-success col-md-4" id="btnCubeOperations">Enviar info</button>
</div>